/*==============Спецификации===========*/

* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Merriweather', serif;*/
    /*font-family: 'Merriweather Sans', sans-serif;*/
    /*font-family: 'Raleway', sans-serif;*/
    min-width: 320px;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}
h1 {
    font-size: 38px;
    color: rgba(0, 0, 0, 0.902);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 125px;
    margin-bottom: 0;
}
h2 {
    font-size: 20px;
    font-family: "Merriweather", serif;
    color: rgba(0, 0, 0, 0.749);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
    word-spacing: 3px;
}
p {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: rgba(0, 0, 0, 0.741);
    line-height: 1.75;
}
.paragraph {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.62);
    text-transform: uppercase;
    text-align: center;
    margin: 1px 0 115px 0;
}

/*====================.head===================*/

header {
    display: flex;
    flex-direction: column;
    background-color: #EFF0F2;
}
.nav_logo {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}
.nav_logo h2 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 800;
    cursor: pointer;
    border: 5px solid #170F1C;
    padding: 4px 6px;
}
.turquoise {
    font-size: 19px;
    color: rgb(118, 244, 234);
    text-shadow: 0 0 1px rgb(80, 80, 80);
    transition: .5s;
}
.nav_logo h2:hover .turquoise {
    color: #FFDC46;
    transition: .5s;
}
.nav_logo img {
    margin-top: 4px;
}
.main_slogan {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    height: 100%;
}
.main_slogan h1 {
    font-weight: bold;
    line-height: unset;
    color: rgb(80, 80, 80);
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.24);
    margin-top: 200px;
    margin-bottom: .5rem;
}
.main_slogan span {
    background-color: rgb(118, 244, 234);
    box-shadow: 9px 0 0 rgb(118, 244, 234),
            -9px 0 0 rgb(118, 244, 234);
    transition: .5s;
    cursor: pointer;
}
.main_slogan span:hover {
    background-color: #FFDC46;
    box-shadow: 9px 0 0 #FFDC46,
    -9px 0 0 #FFDC46;
    transition: .5s;
}
.main_slogan button {
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgba(47, 47, 47, 0.75);
    cursor: pointer;
    border: 2px solid rgba(47, 47, 47, 0.75);
    border-radius: 2px;
    background-color: transparent;
    width: 230px;
    height: 50px;
    transition: .4s;
}
.main_slogan button:hover {
    background-color: #e3e4e6;
    transition: .4s;
}
.juice_glass {
    background: url("../img/glass_orange.png") center, no-repeat;
    background-size: 100%;
    cursor: pointer;

}
.juice_glass img:hover {
    opacity: 0;
    transition: .4s;
}
.juice_glass img {
    transition: .4s;
}
.space {
    width: 105px;
}
.wrapper_ {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 135px auto 60px auto;
}

/*===================.about_us================*/

.about {
    display: flex;
    background: #F8FAFA;
}
.wrapper_about {
    width: 80%;
    margin: 0 auto;
}
.about_us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1500px;
    margin: 0 auto 120px auto;
}
.carousel-item {
    background: url("../img/backgr.png") center no-repeat;
}
.carousel-item img {
    display: block;
    margin: 25px auto 55px auto;
    box-shadow: 0 0 25px 8px #e0e0e0;
}
.carousel-item.active {
    padding-right: 0;
}
.description {
    border-left: 35px solid transparent;
}
.description h2 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
.carousel-indicators li {
    border-radius: 3px;
    background-color: rgb(208, 208, 208);
    width: 10px;
    height: 10px;
    border-top: none;
    border-bottom: none;
    margin-bottom: 0;
}
.carousel-indicators li.active {
    background-color: rgb(118, 244, 234);
}
ol.carousel-indicators {
    margin-top: 15px;
    margin-bottom: 0;
}

/*===============.featured_works==============*/
.wrapper_works {
    width: 95%;
    margin: 0 auto;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 125px;
}
.gallery div {
    cursor: pointer;
    padding: 7px;
    transition: .5s;
}
.gallery div:hover {
    opacity: .8;
    transition: .5s;
}
.gallery img {
    width: 100%;
}
.description {
    max-width: 650px;
    margin: 0 auto;
}

/*================.our_services===============*/
.wrapper__services {
    width: 80%;
    margin: 0 auto;
}
.services {
    background: #F8FAFA;
}
.our_services {
    display: grid;
}
.design_frames {
    display: grid;
    align-content: space-evenly;
    margin-bottom: 120px;
}
.frame_line_1 {
    display: grid;
    grid-template-columns: 56% 43%;
    justify-content: space-between;
    height: 422px;
    margin-bottom: 1%;
}
.frame_line_2 {
    display: grid;
    grid-template-columns: 56% 43%;
    justify-content: space-between;
    height: 371px;
    margin-bottom: 1%;
}
.frame_line_3 {
    display: grid;
    grid-template-columns: 43% 56%;
    justify-content: space-between;
    height: 371px;
}
.line_11 {
    background: url("../img/frame_1.png") center no-repeat;
    background-size: cover;
    box-shadow: inset rgba(0,0,0,.7) 0 -442px 0;
}
.line_12 {
    background: url("../img/frame_2.png") center no-repeat;
    background-size: cover;
}
.line_21 {
    background: url("../img/frame_3.png") center no-repeat;
    background-size: cover;
}
.line_22 {
    background: url("../img/frame_4.png") center no-repeat;
    background-size: cover;
}
.line_31 {
    background: url("../img/frame_5.png") center no-repeat;
    background-size: cover;
}
.line_32 {
    background: url("../img/frame_6.png") center no-repeat;
    background-size: cover;
}
.design_frames h2 {
    color: rgba(255, 255, 255, 0.949);
    margin-bottom: 20px;
    white-space: nowrap;
}
.design_frames p {
    color: rgba(255, 255, 255, 0.902);
    line-height: 1.563;
    text-align: left;
    height: 40px;
    max-width: 600px;
}
.line_inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 0 4rem 21px 4rem;
}
.line_reference {
    display: flex;
}
.design_frames a {
    font-size: 19px;
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.769);
    text-transform: uppercase;
    line-height: 4.474;
    text-align: center;
}
.design_frames a:hover {
    text-decoration: none;
}
.design_frames span {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.769);
    margin: 2px 0 0 8px;
}
.line_reference {
    cursor: pointer;
}
.line_reference i {
    font-size: 30px;
    vertical-align: middle;
    margin-left: 6px;
    margin-top: -2px;
}
/*===========design_frames: onclick===========*/

.line_inner_more {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 0 4rem 21px 4rem;
    box-shadow: inset rgba(118, 244, 234, .9) 0 -442px 0;
}
.line_inner_more span {
    margin: 0 0 0 -3px;
}
.line_inner_more h2,
.line_inner_more p {
    color: rgba(0, 0, 0, 0.831);
}
.line_inner_more span {
    color: rgb(0, 0, 0);
    opacity: 0.4;
    cursor: pointer;
}
.design_frames .line_inner_more p {
    height: 170px;
    max-width: 600px;
}



/*====================mozilla=================*/
@-moz-document url-prefix() {
    .design_frames span {
        font-size: 2rem;
        margin: 17px 0 0 7px;
        font-weight: 300;
    }
}





/*====================clients=================*/

/*==================Who we are================*/

/*================Some features===============*/

/*=================Blog Posts=================*/

/*================Choose plan=================*/

/*================Get in touch================*/

/*================Locate on map===============*/

/*============Exceptions for firefox==========*/

@-moz-document url-prefix() {
}

/*================Media__requests=============*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 2560px) {
    @-moz-document url-prefix() {

    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px) {
    /*header*/
    .main_slogan h1 {
        font-size: 3vw;
    }
    .main_slogan h1 {
        margin-top: 11rem;
    }
    /*gallery*/
    .gallery div {
        width: 33%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    /*header*/
    .wrapper_ {
        width: 100%;
    }
    /*about us*/
    .wrapper_about {
        width: 95%;
    }
    /*our services*/
    .wrapper__services {
        width: 95%;
        margin: 0 auto;
    }
    .line_inner {
        padding: 0 2rem 21px 2rem;
    }
    .frame_line_1,
    .frame_line_2 {
        height: 334px;
    }
    .frame_line_3 {
        height: 290px;
    }
    .line_inner_more {
        padding: 0 2rem 21px 2rem;
    }
    .design_frames .line_inner_more p {
        height: 140px;
    }
    .design_frames .line_inner_more h2 {
        margin-top: 40px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    h1 {
        margin-top: 60px;
    }
    .paragraph {
        margin-bottom: 40px;
    }
    /*header*/
    .main_slogan span {
        box-shadow: 4px 0 0 rgb(118, 244, 234), -4px 0 0 rgb(118, 244, 234);
    }
    .main_slogan span:hover {
        box-shadow: 4px 0 0 #FFDC46,
        -4px 0 0 #FFDC46;
    }
    .main_slogan h1 {
        margin-top: 7rem;
    }
    .main_slogan button {
        font-size: 15px;
        width: 170px;
        height: 42px;
    }
    .space,
    .juice_glass img {
        width: 70px;
    }
    .wrapper_ {
        margin: 112px auto 50px auto;
    }
    /*about us*/
    .about_us {
        grid-template-columns: 1fr;
    }
    .wrapper_about {
        width: 80%;
    }
    .carousel-inner {
        margin-bottom: 40px;
    }
    .about_us {
        margin-bottom: 50px;
    }
    .description {
         border-left: none;
    }
    .description h2 {
        text-align: center;
    }
    /*gallery*/
    .gallery {
        margin-bottom: 60px;
    }
    .gallery div {
        width: 40%;
    }
    @-moz-document url-prefix() {
        .wrapper_works {
            width: 90%;
            margin: 0 auto;
        }
    }
    /*our services*/
    .design_frames {
        margin-bottom: 60px;
    }
    .design_frames p {
        height: 60px;
    }
    .design_frames .line_inner_more p {
        font-size: 14px;
    }

    }

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    h1 {
        font-size: 28px;
    }
    .paragraph {
        font-size: 14px;
    }
    /*header*/
    .nav_logo {
        margin-top: 28px;
    }
    .main_slogan h1 {
        font-size: 5vw;
    }
    .main_slogan h1 {
        margin-top: 5rem;
    }
    .wrapper_ {
        margin: 42px auto 23px auto;
    }
    /*gallery*/
    .gallery div {
        width: 47%;
    }
    /*our services*/
    .frame_line_1,
    .frame_line_2,
    .frame_line_3 {
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
    }
    .line_inner {
        padding: 60px 1rem 0 1rem;
        border-bottom: 15px solid #F8FAFA;
    }
    .design_frames p {
        height: 40px;
    }
    .design_frames .line_inner_more p {
        height: 80px;
    }
    .line_inner_more span {
        margin: 20px 0 0 -3px;
    }
    .line_inner_more {
        padding: 60px 1rem 0 1rem;
        border-bottom: 15px solid #F8FAFA;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px) {
    /*header*/
    .main_slogan h1 {
        margin-top: 2rem;
    }
    .main_slogan button {
        font-size: 10px;
        width: 125px;
        height: 25px;
    }
    .wrapper_ {
        margin: 30px auto 15px auto;
    }
    /*about us*/
    .carousel-item img {
        width: 80%;
    }
    .carousel-item {
        background-size: 100%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    /*header*/
    .nav_logo img {
        margin-top: 7px;
        height: 25px;
    }
    .space,
    .juice_glass img {
        width: 40px;
    }
    .turquoise {
        font-size: 14px;
    }
    .nav_logo h2 {
        font-size: 12px;
        border: 4px solid #170F1C;
        padding: 2px 5px;
    }
    .nav_logo img {
        margin-top: 1px;
    }
    /*featured works*/
    .gallery div {
        width: 100%;
    }
    /*our services*/
    .wrapper__services {
        width: 90%;
    }
    .line_inner {
        padding: 0 1rem 21px 1rem;
    }
    .design_frames h2 {
        font-size: 14px;
        margin-bottom: 4px;
    }
    .design_frames p {
        font-size: 12px;
        margin-bottom: 0;
        height: 55px;
    }
    .line_inner {
        padding: 60px 1rem 0 1rem;
    }
    .design_frames a {
        font-size: 15px;
    }
    .design_frames span {
        font-size: 2rem;
        margin: 6px 0 0 3px;
    }
    .design_frames .line_inner_more p {
        height: 177px;
    }
    .line_inner_more {
        padding: 0 1rem 0 1rem;
    }
    @-moz-document url-prefix() {
        .design_frames span {
            font-size: 1.5rem;
            margin: 13px 0 0 6px;
        }
        .design_frames h2 {
            margin-bottom: 8px;
        }
    }
}


@media only screen and (min-width : 1600px) {
    .wrapper {
        width: 70%;
    }
    /*header*/
    .main_slogan h1 {
        font-size: 2vw;
    }
    .main_slogan h1 {
        margin-top: 13rem;
    }
    .wrapper_ {
        width: 60%;
    }
    .wrapper_ {
        margin: 180px auto 80px auto;
    }
    /*featured works*/
    .wrapper_works {
        width: 73%;
        margin: 0 auto;
    }
    .gallery {
        flex-wrap: nowrap;
    }
    /*our services*/
    .wrapper__services {
        width: 75%;
        margin: 0 auto;
    }
    .design_frames .line_inner_more p {
        height: 120px;
        max-width: 100%;
    }
}